* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  font-style: normal;
}
.portfolio-container {
  padding: 1.5%;
}
.personel-details-container {
  display: flex;
  background-color: #fff;
  padding: 2%;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  align-items: center;
  margin: 1%;
}
.photo {
  border-radius: 1.5rem;
  width: 20%;
}
.details-container {
  margin-left: 2%;
  width: 80%;
  margin-right: 2%;
}
.name-email-container {
  display: flex;
  justify-content: space-between;
}
.name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #4f4f4f;
}
.designation {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
.email,
.phone {
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
}
.description {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack-name {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
  width: 20%;
}
.progress-bar {
  width: 80%;
  height: 10px;
  background: #c4c4c4;
  border-radius: 12px;
}
.progress {
  height: 100%;
  background: #2f80ed;
  width: 50%;
  border-radius: 12px;
}
.all-container {
  display: flex;
  margin-top: 1%;
}
.frontend-hobbies-container {
  width: 40%;
}
.frontend-container,
.hobbies-container,
.organize-container,
.experience-container,
.projects-head-container {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  margin: 1.5%;
}
.frontend-title,
.hobbies-title {
  font-weight: 700;
  font-size: 18px;
  color: #4f4f4f;
}
.hobbie-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.hobbie-name {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}
.hobbie-description {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.organize-experience-container {
  width: 60%;
}
.blog-desc {
  width: 30%;
}
.para-organize-container {
  display: flex;
  justify-content: space-between;
}
.organize-image {
  width: 70%;
  border-radius: 12px;
  object-fit: cover;
}
.blog {
  font-weight: 500;
  font-size: 16px;
  color: #e0e0e0;
}
.blog-title {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}
.blog-description {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  width: 50%;
  margin-top: 60px;
}
.blog-anchor {
  text-decoration: none;
}
.experience-1,
.experience-2,
.experience-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.experience-title {
  font-weight: 500;
  font-size: 24px;
  color: #4f4f4f;
}
.experience-image {
  width: 20%;
  margin-right: 20px;
}
.date {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
.experience-designation {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}
.experience-description {
  width: 70%;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.organize-container {
  height: 40%;
}
.experience-container {
  height: 57.8%;
}
.project-head {
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
}
.project-btn {
  width: 85px;
  height: 33px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
  margin-right: 20px;
  cursor: pointer;
}
.project-btn:hover {
  background: #2f80ed;
  color: white;
  border: none;
}
.projects-container {
  display: flex;
}
.project {
  width: 33.33%;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  margin: 15px;
}
.project-image {
  width: 100%;
  border-radius: 12px;
}
.image {
  margin-bottom: 20px;
}
.project-description {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.used-stacks {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}
.project-name {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}

.project-show-btn {
  width: 118px;
  height: 46px;
  border: 1px solid #2f80ed;
  border-radius: 12px;
  cursor: pointer;
}
.project-show-btn:hover {
  background-color: #2f80ed;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .photo {
    width: 30%;
  }
  .details-container {
    width: 70%;
  }
  .stack {
    flex-direction: column;
    align-self: flex-start;
  }
  .stack-name {
    width: 100%;
  }
  .progress-bar {
    width: 100%;
  }
  .project-show-btn {
    width: 80px;
    height: 40px;
  }
  .frontend-container {
    height: 30%;
  }
  .hobbies-container {
    height: 67.8%;
  }
  .experience-1,
  .experience-2,
  .experience-3 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .personel-details-container {
    flex-direction: column;
  }
  .photo {
    width: 50%;
  }
  .details-container {
    width: 100%;
  }
  .all-container {
    flex-direction: column;
  }
  .frontend-hobbies-container,
  .organize-experience-container {
    width: 100%;
  }
  .projects-container {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
}
@media screen and (max-width: 486px) {
  .name-email-container {
    flex-direction: column;
  }
  .photo {
    width: 100%;
  }
  .details-container {
    width: 100%;
  }
  .stack {
    flex-direction: column;
    align-self: flex-start;
  }
  .stack-name {
    width: 100%;
  }
  .progress-bar {
    width: 100%;
  }
  .project-show-btn,
  .project-btn {
    margin-bottom: 10px;
  }
}
